<ion-header>
  <ion-toolbar class="md" color="primary">
      <ion-title class="md title-md header-title">Select City</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="dismiss()" class="md button button-clear button-has-icon-only ion-activatable ion-focusable">
          <ion-icon slot="icon-only" name="close" role="img" class="md" aria-label="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullscreen">
      <ion-searchbar animated autocomplete="off" id="searchcity" (keyup)="changeList($event)"></ion-searchbar>
      <ion-list>
          <ion-item *ngFor="let city of list;" class="show-item item ios in-list ion-focusable hydrated">{{city}}</ion-item>
      </ion-list>
  </div>
</ion-content>
