<ion-header>
  <ion-toolbar class="md" color="primary">
      <ion-title class="md title-md header-title">City List</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="dismiss()" class="md button button-clear button-has-icon-only ion-activatable ion-focusable">
          <ion-icon slot="icon-only" name="close" role="img" class="md" aria-label="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
      <h1>List1</h1>
      <h1>List1</h1>
      <h1>List1</h1>
      <h1>List1</h1>
      <h1>List1</h1>
      <h1>List1</h1>
      <h1>List1</h1>
      <h1>List1</h1>
      <h1>List1</h1>
  </div>
</ion-content>
