<ion-header>
  <ion-toolbar color="medium">
    <ion-icon name="arrow-round-back" class="md" routerLink="/home"></ion-icon>
    <ion-title>Bank List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row id="cityblock" color="medium">
    <ion-col size="12">
      <div>
        <ion-icon name="briefcase"></ion-icon><br>
        <ion-label>{{cityName}}</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let bank of bankList;">
    <ion-row>
      <ion-col>{{bank.bank_name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Branch: {{bank.branch}}</ion-label>
        <ion-badge color="medium">{{bank.ifsc}}</ion-badge>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
