<ion-header>
  <ion-toolbar class="md" color="medium">
      <ion-title class="md title-md header-title">BANK BAZAAR</ion-title>
      <ion-buttons (click)="openCityList(true)" slot="primary">
        <ion-button class="md button button-clear button-has-icon-only ion-activatable ion-focusable">
          <ion-icon slot="icon-only" name="search" role="img" class="md" aria-label="search"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="padding">
    <ion-row>
      <ion-col size="6">
          <ion-card>
              <ion-card-header>
                <div class="card-block">
                  <ion-card-title>B</ion-card-title>
                  <ion-card-subtitle>Bangalore</ion-card-subtitle>
                </div>
              </ion-card-header>
            </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div class="card-block">
              <ion-card-title>M</ion-card-title>
              <ion-card-subtitle>Mumbai</ion-card-subtitle>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="app-citylist" (click)="openCityList(false)">
    <ion-icon name="menu"></ion-icon>
  </ion-fab-button>
</ion-fab>