<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Bank Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
-->
<ion-header>
  <ion-toolbar class="md" color="medium">
      <ion-title class="md title-md">BANK BAZAAR</ion-title>
      <ion-buttons slot="primary">
        <ion-button class="md button button-clear button-has-icon-only ion-activatable ion-focusable">
          <ion-icon slot="icon-only" name="search" role="img" class="md" aria-label="search"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>